################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TenantHub/FileContentIndex/96e5da29-d600-4fe3-ad6f-61f26890997a.vsidx
/.vs/TenantHub/FileContentIndex/798acdd2-fc55-448d-9de7-cbaf65c171ea.vsidx
/.vs/TenantHub/FileContentIndex/622935ea-126d-49f5-93d9-420e62dc3274.vsidx
/.vs/TenantHub/FileContentIndex
